.top {
 width: 100%;
 height: 50%;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: larger;
 animation: myanimation 30s infinite alternate;
}
.title {
 font-size: 2em;
 margin-top: 2%;
 color: #ffffff;
 font-weight: bolder;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes myanimation {
 0% {
  background-color: rgb(2, 94, 170);
 }
 25% {
  background-color: rgb(3, 0, 165);
 }
 50% {
  background-color: rgb(100, 63, 189);
 }
 75% {
  background-color: rgb(190, 27, 223);
 }
 100% {
  background-color: rgb(155, 39, 145);
 }
}
