* {
 position: relative;
}
.contenttop {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 1em;
 height: 55%;
}
.mid {
 display: flex;
 justify-content: center;
 align-items: center;
}

img {
 height: 4em;
 width: 4em;
}

.btn_location {
 margin-top: 1em;
 border: 1px solid #ffffff;
 background: transparent;
 border-radius: 3px;
 line-height: 100%;
 padding: 1em;
 color: white;
 font-weight: bold;
}

#sL {
 z-index: 2;
 background-color: #ffffff;
}
